header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
  z-index: 1;
}

.home-icon {
  width: 22px;
  height: 22px;
}
.about-icon {
  width: 22px;
  height: 22px;
}
.product-icon {
  width: 28px;
  height: 28px;
}
.inheri-icon {
  width: 35px;
  height: 30px;
}
.subnav-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12vh;
  justify-content: center;
}

.navbar-logo-main {
  height: auto;
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}
.navbar-logo {
  width: 80%;
  height: auto;
}

nav a {
  /* margin: 0 30px; */
  color: #ffffff;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 154.02%;
  text-decoration: none !important;
  letter-spacing: 0.64em;
  margin-top: 10px;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1rem;
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 85px;
  width: 968px;
  height: 100px;
  justify-content: space-evenly;
}
.mobile-menu-icon {
  display: none;
}
/* .navIcon-bg {
  background-image: url("../assets/images/Ellipse.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;

  width: 113%;
} */

/* .....................Mobile Responsive design......................... */

@media only screen and (max-width: 768px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-image: url("../assets//images/home-backgroung.png");
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
  }

  nav a {
    font-size: 1.5rem;
  }
  .navbar-flex {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 25px;
    box-shadow: -3.5px 10.5px 19px -10.5px #000000;
    justify-content: space-between;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px;
    position: relative;
    z-index: 1;
    text-align: left;
  }
}

@media only screen and (max-width: 1024px) {
  nav a {
    margin: 10px 10px;
    color: #ffffff;
    font-family: "slava-antipov-quanty-special-demo";
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 6px;
    padding-left: 10px;
  }
  .navbar-logo {
    width: 60%;
    height: auto;
  }
  .home-icon {
    width: 15px;
    height: 15px;
  }
  .about-icon {
    width: 15px;
    height: 15px;
  }
  .product-icon {
    width: 20px;
    height: 20px;
  }
  .inheri-icon {
    width: 25px;
    height: 25px;
  }
}
