.products-main-bg {
  background-image: url("../assets//images/home-backgroung.png");
  height: auto;
  min-height: 160vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.products-section1-card {
  border-radius: 30px;
  height: auto;
  width: 100%;
  max-width: 500px;
  background-image: url("../assets/images/card-bgimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 70px;
  /* margin: 0px 40px 0px 0px; */
  text-align: left;
  min-height: 340px;
  position: relative;
}
.products-section1-card-title {
  color: #2a01fe;
  text-transform: capitalize;
  font-family: slava-antipov-quanty-special-demo;
  letter-spacing: 10px;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
.products-section1-card-desc {
  color: #07006a;
  font-size: 1.5rem;
  padding: 15px 0px;
  font-family: "JosefinSans-Regular";
  letter-spacing: 5px;
  font-weight: 800;
  width: 100%;
  line-height: 30px;
}
.products-title {
  color: #a6ff35;
  text-transform: uppercase;
  font-family: JosefinSans-Regular;
  letter-spacing: -25px;
  font-size: 10rem;
  /* margin-left: 10%; */
  font-weight: 900;
  width: 50%;
}
.products-section1-card-button {
  background-color: #a6ff35;
  color: #07006a;
  font-family: slava-antipov-quanty-special-demo;
  border-radius: 50px;
  width: auto;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 10px;
  padding: 20px 40px;
  border: none;
  text-transform: uppercase;
  box-shadow: 3px 5.5px 15.5px 0 #000000;
  text-shadow: 9px 4px 5px rgba(3, 3, 3, 0.29);
  margin-top: 20px;
}
.products-section1-img-main {
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: 0;
  max-width: 1200px;
  height: auto;
}
.section1-img {
  width: 100%;
}
/* .lguFiu {
  width: 60% !important;
} */
.products-flex-section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 25%;
  width: 100%;
}
/* .sc-bcXHqe {
  display: none;
} */
.kXteup {
  background-color: #07006a !important;
}

/* ...............responsive design................... */
@media only screen and (max-width: 1024px) {
  .products-title {
    color: #a6ff35;
    text-transform: uppercase;
    font-family: JosefinSans-Regular;
    letter-spacing: -25px;
    font-size: 10rem;
    /* margin-left: 10%; */
    font-weight: 900;
    width: 50%;
  }
  .products-section1-img-main {
    width: 100%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: 0;
    max-width: 1200px;
    height: auto;
  }
}
